<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
    data-sidebar-image="none" data-preloader="disable" xmlns:th="http://www.thymeleaf.org">


<head th:replace="admin/layout :: pageHead('Product Details')">

</head>

<body>

    <div th:replace="admin/layout :: body">
        <section th:fragment="mainContent">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Product Details</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->

                    

                </div>
            </div>
        </section>
    </div>

</body>


</html>