<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
    data-sidebar-image="none" data-preloader="disable" xmlns:th="http://www.thymeleaf.org">


<head th:replace="admin/layout :: pageHead('Order Details')">

</head>

<body>

    <div th:replace="admin/layout :: body">
        <section th:fragment="mainContent">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Order Details</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">
                        <div class="col-xl-9">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex align-items-center">
                                        <h5 class="card-title flex-grow-1 mb-0">Order [[${orders.OrderId}]]</h5>
                                        <div class="flex-shrink-0">
                                            <a href="apps-invoices-details.html" class="btn btn-success btn-sm"><i
                                                    class="ri-download-2-fill align-middle me-1"></i> Invoice</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive table-card">
                                        <table class="table table-nowrap align-middle table-borderless mb-0">
                                            <thead class="table-light text-muted">
                                                <tr>
                                                    <th scope="col">Product Details</th>
                                                    <th scope="col">Item Price</th>
                                                    <th scope="col">Quantity</th>
                                                    <th scope="col" class="text-end">Total Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="orderdetail : ${orderDetails}">
                                                    <td>
                                                        <div class="d-flex">
                                                            <div class="flex-shrink-0 avatar-md bg-light rounded p-1">
                                                                <img th:src="@{'/productimages/' + ${orderdetail.ProductMainImage}}"
                                                                    alt="" class="img-fluid d-block">
                                                            </div>
                                                            <div class="flex-grow-1 ms-3">
                                                                <h5 class="fs-15">[[${orderdetail.ProductName}]]</h5>

                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>$[[${orderdetail.ProductPrice}]]</td>
                                                    <td>[[${orderdetail.quantity}]]</td>

                                                    <td class="fw-medium text-end">
                                                        $[[${orderdetail.totalPrice}]]
                                                    </td>
                                                </tr>
                                                <tr class="border-top border-top-dashed">
                                                    <td colspan="3"></td>
                                                    <td colspan="2" class="fw-medium p-0">
                                                        <table class="table table-borderless mb-0">
                                                            <tbody>
                                                                <tr class="border-top border-top-dashed">
                                                                    <th scope="row">Total (USD) :</th>
                                                                    <th class="text-end">$[[${orders.OrderAmount}]]</th>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--end card-->
                        </div>
                        <!--end col-->
                        <div class="col-xl-3">
                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex">
                                        <h5 class="card-title flex-grow-1 mb-0"><i
                                                class="mdi mdi-truck-fast-outline align-middle me-1 text-muted"></i>
                                            Logistics Details</h5>
                                        <div class="flex-shrink-0">
                                            <span
                                                th:classappend="
                                                                ${orders.OrderStatus == 'Pending'} ? 'badge bg-warning-subtle text-warning text-uppercase' :
                                                                (${orders.OrderStatus == 'Inprogress'} ? 'badge bg-success-subtle text-success text-uppercase' : '')">
                                                [[${orders.OrderStatus}]]
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="text-center">
                                        <lord-icon src="https://cdn.lordicon.com/uetqnvvg.json" trigger="loop"
                                            colors="primary:#4b38b3,secondary:#0ab39c"
                                            style="width:80px;height:80px"></lord-icon>
                                        <p class="text-muted mb-0">Payment Mode : [[${orders.OrderPaymentMethod}]]</p>
                                    </div>
                                </div>
                            </div>
                            <!--end card-->

                            <div class="card">
                                <div class="card-header">
                                    <div class="d-flex">
                                        <h5 class="card-title flex-grow-1 mb-0">Customer Details</h5>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled mb-0 vstack gap-3">
                                        <li>
                                            <i
                                                class="ri-user-3-line me-2 align-middle text-muted fs-16"></i>[[${customers.CustomerName}]]
                                        </li>
                                        <li>
                                            <i
                                                class="ri-mail-line me-2 align-middle text-muted fs-16"></i>[[${customers.cemail}]]
                                        </li>
                                        <li><i
                                                class="ri-phone-line me-2 align-middle text-muted fs-16"></i>[[${customers.CustomerPhone}]]
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--end card-->
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title mb-0"><i
                                            class="ri-map-pin-line align-middle me-1 text-muted"></i> Shipping Address
                                    </h5>
                                </div>
                                <div class="card-body">
                                    <ul class="list-unstyled vstack gap-2 fs-13 mb-0">
                                        <li>[[${orders.OrderAddress}]]</li>
                                        <li>[[${orders.OrderCity}]]</li>
                                        <li>[[${orders.OrderProvince}]]</li>
                                    </ul>
                                </div>
                            </div>
                            <!--end card-->


                        </div>
                        <!--end col-->
                    </div>
                </div>
            </div>
        </section>
    </div>

</body>


</html>