<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
      data-sidebar-image="none" data-preloader="disable" xmlns:th="http://www.thymeleaf.org">


<head th:replace="admin/layout :: pageHead('Blog Details')">

</head>

<body>

<div th:replace="admin/layout :: body">
    <section th:fragment="mainContent">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0">Blog Details</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="card">
                        <div class="card-body">
                            <div class="row g-4">
                                <div class="col-lg-4">
                                    <div class="sticky-side-div">
                                        <div class="card ribbon-box border shadow-none right">
                                            <img src="assets/images/nft/img-05.jpg" alt=""
                                                 class="img-fluid rounded">
                                        </div>
                                    </div>
                                </div><!--end col-->
                                <div class="col-lg-8">
                                    <div>
                                        <h4>Patterns Arts &amp; Culture</h4>
                                        <div class="hstack gap-3 flex-wrap">
                                            <div class="text-muted">Creators : <span
                                                    class="text-body fw-medium">Nancy Dyer</span></div>
                                            <div class="vr"></div>
                                            <div class="text-muted">Published : <span class="text-body fw-medium">29
                                                        April, 2022</span></div>
                                            <div class="vr"></div>
                                            <div class="text-muted">Tags : <span
                                                    class="text-body fw-medium">#skincare, #beauty</span></div>
                                            <div class="vr"></div>
                                            <div><span
                                                    class="badge bg-success-subtle text-success text-uppercase">View</span>
                                            </div>
                                        </div>

                                        <div class="mt-4 text-muted">
                                            <h5 class="fs-14">Description :</h5>
                                            <p>Cultural patterns are the similar behaviors within similar situations
                                                we witness due to shared beliefs, values, norms and social practices
                                                that are steady over time. In art, a pattern is a repetition of
                                                specific visual elements. The dictionary.com definition of "pattern"
                                                is: an arrangement of repeated or corresponding parts, decorative
                                                motifs, etc.</p>
                                        </div>

                                        <div class="mt-5">
                                            <div>
                                                <h5 class="fs-14 mb-3">Ratings &amp; Reviews</h5>
                                            </div>
                                            <div class="row gy-4 gx-0">
                                                <div class="col-lg-4">
                                                    <div>
                                                        <div class="pb-3">
                                                            <div class="bg-light px-3 py-2 rounded-2 mb-2">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="flex-grow-1">
                                                                        <div
                                                                                class="fs-16 align-middle text-warning">
                                                                            <i class="ri-star-fill"></i>
                                                                            <i class="ri-star-fill"></i>
                                                                            <i class="ri-star-fill"></i>
                                                                            <i class="ri-star-fill"></i>
                                                                            <i class="ri-star-half-fill"></i>
                                                                        </div>
                                                                    </div>
                                                                    <div class="flex-shrink-0">
                                                                        <h6 class="mb-0">4.8 out of 5</h6>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end col -->
                                            </div>
                                            <!-- end Ratings & Reviews -->
                                        </div>
                                    </div>
                                </div>
                                <!--end col-->
                            </div>
                            <!--end row-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>


</html>