<!doctype html>
<html lang="en" data-layout="vertical" data-topbar="light" data-sidebar="dark" data-sidebar-size="lg"
    data-sidebar-image="none" data-preloader="disable" xmlns:th="http://www.thymeleaf.org">


<head th:replace="admin/layout :: pageHead('Admin')">

</head>

<body>

    <div th:replace="admin/layout :: body">
        <section th:fragment="mainContent">
            <div class="page-content">
                <div class="container-fluid">
                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                <h4 class="mb-sm-0">Admin Management</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card" id="customerList">
                                <div class="card-header border-bottom-dashed">
                                    <div class="row g-4 align-items-center">
                                        <div class="col-sm">
                                            <div>
                                                <h5 class="card-title mb-0">Admin List</h5>
                                            </div>
                                        </div>
                                        <div class="col-sm-auto">
                                            <div class="d-flex flex-wrap align-items-start gap-2">
                                                <button class="btn btn-soft-danger" id="remove-actions"
                                                    onclick="deleteMultiple()"><i
                                                        class="ri-delete-bin-2-line"></i></button>

                                                <button type="button" class="btn btn-success add-btn"
                                                    data-bs-toggle="modal" id="create-btn" href="#showModal"
                                                    th:if="${session.loginSuper != null}"><i
                                                        class="ri-add-line align-bottom me-1"></i> Add Admin</button>

                                                <button class="btn btn-info" type="button" id="exportButton"
                                                    onclick="window.location.href='/export/admins/csv'">
                                                    <i class="ri-file-download-line align-bottom me-1"></i> Export
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body border-bottom-dashed border-bottom">
                                    <form>
                                        <div class="row g-3">
                                            <div class="col-xl-6">
                                                <div class="search-box">
                                                    <input type="text" class="form-control search"
                                                        placeholder="Search for customer, email, phone, status or something...">
                                                    <i class="ri-search-line search-icon"></i>
                                                </div>
                                            </div>
                                            <!--end col-->
                                            <div class="col-xl-6">
                                                <div class="row g-3">
                                                    <div class="col-sm-4">
                                                        <div class="">
                                                            <input type="text" class="form-control"
                                                                id="datepicker-range" data-provider="flatpickr"
                                                                data-date-format="d M, Y" data-range-date="true"
                                                                placeholder="Select date">
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                    <div class="col-sm-4">
                                                        <div>
                                                            <select class="form-control" data-plugin="choices"
                                                                data-choices="" data-choices-search-false=""
                                                                name="choices-single-default" id="idStatus">
                                                                <option value="">Status</option>
                                                                <option value="all" selected="">All</option>
                                                                <option value="Active">Active</option>
                                                                <option value="Block">Block</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <!--end col-->

                                                    <div class="col-sm-4">
                                                        <div>
                                                            <button type="button" class="btn btn-primary w-100"
                                                                onclick="SearchData();"><i
                                                                    class="ri-equalizer-fill me-2 align-bottom"></i>Filters
                                                            </button>
                                                        </div>
                                                    </div>
                                                    <!--end col-->
                                                </div>
                                            </div>
                                        </div>
                                        <!--end row-->
                                    </form>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <div class="table-responsive table-card mb-1">
                                            <table class="table align-middle" id="adminTable">
                                                <thead class="table-light text-muted">
                                                    <tr>
                                                        <th>ID</th>
                                                        <th class="sort" data-sort="customer_name">Full Name</th>
                                                        <th class="sort" data-sort="email">Email</th>
                                                        <th class="sort" data-sort="phone">Phone</th>
                                                        <th class="sort" data-sort="customer_name">Address</th>
                                                        <th class="sort" data-sort="customer_name">City</th>
                                                        <th class="sort" data-sort="customer_name">Province</th>
                                                        <th class="sort" data-sort="status">Status</th>
                                                        <th th:if="${session.loginSuper != null}">Action
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody class="list form-check-all">
                                                    <tr th:each="ad : ${admins}">
                                                        <td class="id">[[${ad.AdminId}]]</td>
                                                        <td class="customer_name">[[${ad.AdminName}]]</td>
                                                        <td class="email">[[${ad.AdminEmail}]]</td>
                                                        <td class="phone">[[${ad.AdminPhone}]]</td>
                                                        <td class="customer_name">[[${ad.AdminAddress}]]</td>
                                                        <td class="customer_name">[[${ad.AdminCity}]]</td>
                                                        <td class="customer_name">[[${ad.AdminProvince}]]</td>
                                                        <td class="status"><span th:if="${ad.AdminStatus == 'Active'}"
                                                                class="badge bg-success-subtle text-success text-uppercase">Active</span>
                                                            <span th:if="${ad.AdminStatus == 'Block'}"
                                                                class="badge bg-danger-subtle text-danger text-uppercase">Block</span>
                                                        </td>
                                                        <td th:if="${session.loginSuper != null}">
                                                            <ul class="list-inline hstack gap-2 mb-0">
                                                                <!-- Super Admin Logic -->
                                                                <li class="list-inline-item edit"
                                                                    data-bs-toggle="tooltip" data-bs-trigger="hover"
                                                                    data-bs-placement="top" aria-label="Edit"
                                                                    data-bs-original-title="Edit">
                                                                    <a th:if="${session.loginSuper != ad.AdminId and ad.AdminEmail != 'yenhopie28@gmail.com'}"
                                                                        href="#editRecordModal"
                                                                        class="text-primary d-inline-block edit-admin-btn"
                                                                        data-bs-toggle="modal" th:attr="data-id=${ad.AdminId}, data-name=${ad.AdminName},
                                                                        data-status=${ad.AdminStatus}">
                                                                        <i class="ri-pencil-fill fs-16"></i>
                                                                    </a>
                                                                </li>
                                                                <li class="list-inline-item" data-bs-toggle="tooltip"
                                                                    data-bs-trigger="hover" data-bs-placement="top"
                                                                    title="Remove">
                                                                    <a th:if="${session.loginSuper != ad.AdminId and ad.AdminEmail != 'yenhopie28@gmail.com'}"
                                                                        class="text-danger d-inline-block remove-item-btn"
                                                                        data-bs-toggle="modal" href="#deleteRecordModal"
                                                                        th:attr="data-id=${ad.AdminId}">
                                                                        <i class="ri-delete-bin-5-fill fs-16"></i>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <div class="noresult" style="display: none">
                                                <div class="text-center">
                                                    <lord-icon src="https://cdn.lordicon.com/msoeawqm.json"
                                                        trigger="loop" colors="primary:#121331,secondary:#08a88a"
                                                        style="width:75px;height:75px"></lord-icon>
                                                    <h5 class="mt-2">Sorry! No Result Found</h5>
                                                    <p class="text-muted mb-0">We've searched more than 150+ customer We
                                                        did not find any customer for you search.</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="modal fade" id="showModal" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header bg-light p-3">
                                                    <h5 class="modal-title" id="exampleModalLabel">Add Admin</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close" id="close-modal"></button>
                                                </div>
                                                <form th:action="@{/admin/addAdmin}" method="post" autocomplete="off"
                                                    th:object="${adminsdto}">
                                                    <div class="modal-body">
                                                        <div class="row gy-4 mb-3">
                                                            <div class="col-md-6">
                                                                <label for="adminname-field" class="form-label">Admin
                                                                    Name</label>
                                                                <input type="text" id="adminname-field" name="adminName"
                                                                    class="form-control" placeholder="Enter name"
                                                                    required th:field="*{AdminName}" />
                                                                <div class="invalid-feedback">Please enter admin
                                                                    name.</div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="adminphone-field" class="form-label">Admin
                                                                    Phone</label>
                                                                <input type="text" id="adminphone-field"
                                                                    name="adminPhone" class="form-control"
                                                                    placeholder="Enter phone" required
                                                                    th:field="*{AdminPhone}" />
                                                                <div class="invalid-feedback">Please enter admin
                                                                    phone.</div>
                                                            </div>
                                                        </div>

                                                        <div class="row gy-4 mb-3">
                                                            <div class="col-md-6">
                                                                <label for="adminemail-field" class="form-label">Admin
                                                                    Email</label>
                                                                <input type="email" id="adminemail-field"
                                                                    name="adminEmail" class="form-control"
                                                                    placeholder="Enter email" required
                                                                    th:field="*{AdminEmail}" />
                                                                <div class="invalid-feedback">Please enter admin
                                                                    email.</div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="adminpassword-field"
                                                                    class="form-label">Admin
                                                                    Password</label>
                                                                <input type="password" id="adminpassword-field"
                                                                    name="adminPassword" class="form-control"
                                                                    placeholder="Enter password" required
                                                                    th:field="*{AdminPassword}" />
                                                                <div class="invalid-feedback">Please enter admin
                                                                    password.</div>
                                                            </div>
                                                        </div>

                                                        <div class="row gy-4 mb-3">
                                                            <div class="col-md-6">
                                                                <label for="adminprovince-field"
                                                                    class="form-label">Admin
                                                                    Province</label>
                                                                <select class="form-control" name="adminProvince"
                                                                    id="adminProvince" required>
                                                                    <option value="" disabled selected>
                                                                        Select a province
                                                                    </option>
                                                                    <option th:each="province : ${provinces}"
                                                                        th:value="${province.idProvince}"
                                                                        th:text="${province.name}">
                                                                    </option>
                                                                </select>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <label for="admincity-field" class="form-label">Admin
                                                                    City</label>
                                                                <select class="form-control" name="adminCity"
                                                                    id="adminCity" th:field="*{AdminCity}"
                                                                    style="display: inline-block;" required>
                                                                    <option value="" disabled selected>Select a city
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="adminaddress-field" class="form-label">Admin
                                                                Address</label>
                                                            <input type="text" id="adminaddress-field"
                                                                name="adminAddress" class="form-control"
                                                                placeholder="Enter address" th:field="*{AdminAddress}"
                                                                required />
                                                            <div class="invalid-feedback">Please enter admin
                                                                address.</div>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="status-field" class="form-label">Status</label>
                                                            <select class="form-control" name="status" id="status-field"
                                                                required th:field="*{AdminStatus}">
                                                                <option value="Active">Active</option>
                                                                <option value="Block">Block</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <div class="hstack gap-2 justify-content-end">
                                                            <button type="button" class="btn btn-light"
                                                                data-bs-dismiss="modal">Close</button>
                                                            <button type="submit" class="btn btn-success"
                                                                id="add-btn">Add Admin</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade" id="editRecordModal" tabindex="-1" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header bg-light p-3">
                                                    <h5 class="modal-title">Edit Category</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <form th:action="@{/admin/editAdmin}" method="post"
                                                    th:object="${adminsdto}" autocomplete="off">
                                                    <div class="modal-body">
                                                        <input type="hidden" name="AdminId" th:field="*{AdminId}"
                                                            id="adminIdField2" />
                                                        <div class="mb-3">
                                                            <label for="adminname-field" class="form-label">Admin
                                                                Name</label>
                                                            <input type="text" id="adminname-field2" name="AdminName"
                                                                class="form-control" th:field="*{AdminName}" readonly />
                                                        </div>
                                                        <div class="mb-3">
                                                            <label for="status-field" class="form-label">Status</label>
                                                            <select class="form-control" name="AdminStatus"
                                                                id="status-field2" th:field="*{AdminStatus}" required>
                                                                <option value="Active">Active</option>
                                                                <option value="Block">Block</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-light"
                                                            data-bs-dismiss="modal">Close</button>
                                                        <button type="submit" class="btn btn-success">Update
                                                            Admin</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="modal fade zoomIn" id="deleteRecordModal" tabindex="-1"
                                        aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="btn-close" id="deleteRecord-close"
                                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="mt-2 text-center">
                                                        <lord-icon src="https://cdn.lordicon.com/gsqxdxog.json"
                                                            trigger="loop" colors="primary:#f7b84b,secondary:#f06548"
                                                            style="width:100px;height:100px"></lord-icon>
                                                        <div class="mt-4 pt-2 fs-15 mx-4 mx-sm-5">
                                                            <h4>Are you sure ?</h4>
                                                            <p class="text-muted mx-4 mb-0">Are you sure you want to
                                                                remove this record ?</p>
                                                        </div>
                                                    </div>
                                                    <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                                                        <button type="button" class="btn w-sm btn-light"
                                                            data-bs-dismiss="modal">Close
                                                        </button>
                                                        <form id="deleteRecordForm" method="get">
                                                            <button type="submit" class="btn w-sm btn-danger"
                                                                id="delete-record">Yes, Delete It!</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end modal -->
                                    <div class="d-flex justify-content-end">
                                        <div class="pagination-wrap hstack gap-2">
                                            <a class="page-item pagination-prev disabled" href="#">
                                                Previous
                                            </a>
                                            <ul class="pagination listjs-pagination mb-0">
                                                <li class="active"><a class="page" href="#" data-i="1"
                                                        data-page="8">1</a></li>
                                            </ul>
                                            <a class="page-item pagination-next" href="#">
                                                Next
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div>
        </section>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var provinceSelect = document.getElementById("adminProvince");
            var citySelect = document.getElementById("adminCity");

            if (provinceSelect) {
                provinceSelect.onchange = function () {
                    var provinceId = this.value;
                    console.log("Selected province ID:", provinceId);


                    citySelect.innerHTML = '<option value="" disabled selected>Select a city</option>';

                    fetch(`/admin/districts/${provinceId}`)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('Network response was not ok');
                            }
                            return response.json();
                        })
                        .then(data => {
                            if (Array.isArray(data) && data.length > 0) {
                                data.forEach(function (district) {
                                    let option = document.createElement("option");
                                    option.value = district.name;
                                    option.textContent = district.name;
                                    citySelect.appendChild(option);
                                });

                            } else {
                                console.warn("No districts found for this province.");
                            }
                        })
                        .catch(error => {
                            console.error('There was a problem with the fetch operation:', error);
                        });
                };
            } else {
                console.error("Province select element not found!");
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
            const deleteModal = document.getElementById('deleteRecordModal');

            deleteModal.addEventListener('show.bs.modal', function (event) {
                const button = event.relatedTarget;
                const adminId = button.getAttribute('data-id');

                const form = document.getElementById('deleteRecordForm');
                form.setAttribute('action', '/admin/deleteAdmin/' + adminId);
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            const editButtons = document.querySelectorAll('.edit-admin-btn');

            editButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const adminId = this.getAttribute('data-id');
                    const adminName = this.getAttribute('data-name');
                    const adminStatus = this.getAttribute('data-status');


                    document.getElementById('adminIdField2').value = adminId;
                    document.getElementById('adminname-field2').value = adminName;
                    document.getElementById('status-field2').value = adminStatus;
                });
            });
        });
    </script>

</body>


</html>