<!doctype html>
<html class="no-js" lang="en" xmlns:th="https://www.thymeleaf.org/">


<head th:replace="user/layout :: pageHead('About Us')">

</head>

<body>

    <div th:replace="user/layout :: body">
        <section th:fragment="mainContent">
            <!--breadcrumbs area start-->
            <div class="breadcrumbs_area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb_content">
                                <h3>about us</h3>
                                <ul>
                                    <li><a href="/user/index">home</a></li>
                                    <li>contact us</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--breadcrumbs area end-->
            <!--about section area -->
            <section class="about_section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <figure>
                                <div class="about_thumb">
                                    <img src="../user/assets/img/about/about1.jpg" alt="">
                                </div>
                                <figcaption class="about_content">
                                    <h1>We are a beauty brand offering high-quality skincare and cosmetics.</h1>
                                    <p>
                                        Our products are carefully curated to cater to all skin types, offering
                                        solutions that promote healthy, glowing skin. From skincare essentials to makeup
                                        products, we are committed to providing you with the best in beauty. Whether you
                                        are looking for luxurious facial care, effective anti-aging treatments, or
                                        vibrant makeup products, we ensure that every item is crafted with care and
                                        precision. At our store, we prioritize safety, effectiveness, and your
                                        satisfaction, offering a seamless shopping experience and expert advice to help
                                        you find the perfect products for your beauty routine.</p>
                                    <div class="about_signature">
                                        <img src="../user/assets/img/about/about-us-signature.png" alt="">
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </section>
            <!--about section end-->

            <!--chose us area start-->
            <div class="choseus_area" data-bgimg="assets/img/about/about-us-policy-bg.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-4">
                            <div class="single_chose">
                                <div class="chose_icone">
                                    <img src="../user/assets/img/about/About_icon1.png" alt="">
                                </div>
                                <div class="chose_content">
                                    <h3>100% Authentic</h3>
                                    <p>All the beauty products on our website are 100% authentic, sourced from reputable
                                        brands. We guarantee no counterfeit or fake products.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="single_chose">
                                <div class="chose_icone">
                                    <img src="../user/assets/img/about/About_icon2.png" alt="">
                                </div>
                                <div class="chose_content">
                                    <h3>100% Money Back Guarantee</h3>
                                    <p>We offer a 100% money-back guarantee if you're not satisfied with your purchase.
                                        Any complaints will be resolved quickly and fairly.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4">
                            <div class="single_chose">
                                <div class="chose_icone">
                                    <img src="../user/assets/img/about/About_icon3.png" alt="">
                                </div>
                                <div class="chose_content">
                                    <h3>100% Safe Shopping</h3>
                                    <p>Your shopping experience is 100% safe withprivacy protection, and reliable
                                        payment methods to ensure peace of mind.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--chose us area end-->

            <!--services img area-->
            <div class="about_gallery_section">
                <div class="container">
                    <div class="about_gallery_container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4">
                                <article class="single_gallery_section">
                                    <figure>
                                        <div class="gallery_thumb">
                                            <img src="../user/assets/img/about/about2.jpg" alt="">
                                        </div>
                                        <figcaption class="about_gallery_content">
                                            <h3>What do we do?</h3>
                                            <p>We provide a wide range of high-quality skincare and beauty products from
                                                trusted global brands. Our focus is on enhancing your beauty with safe
                                                and effective products tailored to every need.</p>
                                        </figcaption>
                                    </figure>
                                </article>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <article class="single_gallery_section">
                                    <figure>
                                        <div class="gallery_thumb">
                                            <img src="../user/assets/img/about/about3.jpg" alt="">
                                        </div>
                                        <figcaption class="about_gallery_content">
                                            <h3>Our Mission</h3>
                                            <p>Our mission is to offer the best beauty products that enhance your
                                                natural beauty and boost your confidence, with trustworthy skincare that
                                                gives your skin the care it deserves.</p>
                                        </figcaption>
                                    </figure>
                                </article>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <article class="single_gallery_section">
                                    <figure>
                                        <div class="gallery_thumb">
                                            <img src="../user/assets/img/about/about4.jpg" alt="">
                                        </div>
                                        <figcaption class="about_gallery_content">
                                            <h3>History Of Us</h3>
                                            <p>Founded with a passion for beauty, our brand offers premium skincare and
                                                cosmetics, building trust by providing authentic, high-quality products
                                                from renowned brands.</p>
                                        </figcaption>
                                    </figure>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--services img end-->

            <!--testimonial area start-->
            <div class="faq-client-say-area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-md-6">
                            <div class="faq-client_title">
                                <h2>What can we do for you ?</h2>
                            </div>
                            <div class="faq-style-wrap" id="faq-five">
                                <!-- Panel-default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a id="octagon" class="collapsed" role="button" data-bs-toggle="collapse"
                                                data-bs-target="#faq-collapse1" aria-expanded="true"
                                                aria-controls="faq-collapse1"> <span class="button-faq"></span>
                                                Fast & Free Delivery
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="faq-collapse1" class="collapse show" aria-expanded="true" role="tabpanel"
                                        data-parent="#faq-five">
                                        <div class="panel-body">
                                            <p>We provide quick and reliable delivery right to your doorstep. With every
                                                order, we ensure fast processing and shipping, so you can enjoy your
                                                beauty products without delay.
                                            </p>

                                        </div>
                                    </div>
                                </div>
                                <!--// Panel-default -->

                                <!-- Panel-default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a class="collapsed" role="button" data-bs-toggle="collapse"
                                                data-bs-target="#faq-collapse2" aria-expanded="false"
                                                aria-controls="faq-collapse2"> <span class="button-faq"></span>Trusted
                                                Expertise in Beauty</a>
                                        </h5>
                                    </div>
                                    <div id="faq-collapse2" class="collapse" aria-expanded="false" role="tabpanel"
                                        data-parent="#faq-five">
                                        <div class="panel-body">
                                            <p>With decades of experience in the beauty industry, we are dedicated to
                                                offering premium skincare and cosmetics. Our long history allows us to
                                                carefully select only the best products from reputable and trusted
                                                brands, ensuring you get the highest quality every time.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--// Panel-default -->

                                <!-- Panel-default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a class="collapsed" role="button" data-bs-toggle="collapse"
                                                data-bs-target="#faq-collapse3" aria-expanded="false"
                                                aria-controls="faq-collapse3"> <span class="button-faq"></span>100%
                                                Authentic Beauty Products
                                            </a>
                                        </h5>
                                    </div>
                                    <div id="faq-collapse3" class="collapse" role="tabpanel" data-parent="#faq-five">
                                        <div class="panel-body">
                                            <p>We guarantee that all our beauty products are 100% authentic, sourced
                                                directly from well-known and trusted brands. Your beauty routine
                                                deserves only the best, and we ensure you receive genuine, top-quality
                                                skincare and cosmetics.</p>
                                        </div>
                                    </div>
                                </div>
                                <!--// Panel-default -->

                                <!-- Panel-default -->
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h5 class="panel-title">
                                            <a class="collapsed" role="button" data-bs-toggle="collapse"
                                                data-bs-target="#faq-collapse4" aria-expanded="false"
                                                aria-controls="faq-collapse4"> <span class="button-faq"></span>The Best
                                                Shopping Experience</a>
                                        </h5>
                                    </div>
                                    <div id="faq-collapse4" class="collapse" role="tabpanel" data-parent="#faq-five">
                                        <div class="panel-body">
                                            <p>We are committed to providing a seamless and enjoyable shopping
                                                experience. From exploring our wide range of beauty products to a secure
                                                and easy checkout process, we ensure your shopping journey is smooth,
                                                safe, and satisfying.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!--// Panel-default -->
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--testimonial area end-->
        </section>
    </div>
</body>


</html>