<!doctype html>
<html class="no-js" lang="en" xmlns:th="https://www.thymeleaf.org/">


<head th:replace="user/layout :: pageHead('Forgot Password')">

</head>

<body>

    <div th:replace="user/layout :: body">
        <section th:fragment="mainContent">
            <!--breadcrumbs area start-->
            <div class="breadcrumbs_area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb_content">
                                <h3>forgot password</h3>
                                <ul>
                                    <li><a href="/user/index">home</a></li>
                                    <li>forgot password</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--breadcrumbs area end-->
            <!-- customer login start -->
            <div class="customer_login">
                <div class="container">
                    <div class="row">
                        <!--login area start-->
                        <div class="col-lg-6 col-md-6">
                            <div class="account_form">
                                <h2>Forgot</h2>
                                <form action="#">
                                    <p>
                                        <label>Email <span>*</span></label>
                                        <input type="text">
                                    </p>
                                    <p>
                                        <label>Code <span>*</span></label>
                                    <div class="input_box">
                                        <input type="text">
                                        <button type="submit">Get Code</button>
                                    </div>
                                    </p>
                                    <p>
                                        <label>New Password <span>*</span></label>
                                        <input type="password">
                                    </p>
                                    <p>
                                        <label>Confirm Password <span>*</span></label>
                                        <input type="password">
                                    </p>
                                    <div class="login_submit">

                                        <button type="submit">Change Password</button>

                                    </div>

                                </form>
                            </div>
                        </div>
                        <!--login area start-->

                        <!--register area start-->
                        <div class="col-lg-6 col-md-6">
                            <div class="account_form register">
                                <h2>Register</h2>
                                <form action="#">
                                    <p>
                                        <label>Email address <span>*</span></label>
                                        <input type="text">
                                    </p>
                                    <p>
                                        <label>Passwords <span>*</span></label>
                                        <input type="password">
                                    </p>
                                    <div class="login_submit">
                                        <button type="submit">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!--register area end-->
                    </div>
                </div>
            </div>
            <!-- customer login end -->

        </section>
    </div>

</body>


</html>