<!doctype html>
<html class="no-js" lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{user/layout :: pageHead('LIORA')}">
</head>

<body>

    <div th:replace="~{user/layout :: body}">
        <section th:fragment="mainContent">
            <!--slider area start-->
            <section class="slider_section">
                <div class="slider_area owl-carousel">
                    <div class="single_slider d-flex align-items-center"
                        data-bgimg="/user/assets/img/slider/slider1.jpg">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="slider_content">
                                        <h2>new Styles</h2>
                                        <h1>Natural Skincare</h1>
                                        <p>
                                            Lab Series Skincare for Women - Lookfantastic UK
                                        </p>
                                        <a href="/user/shop">Shop Now </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_slider d-flex align-items-center"
                        data-bgimg="/user/assets/img/slider/slider2.jpg">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="slider_content">
                                        <h2>makeup Enhance</h2>
                                        <h1>Natural Beauty</h1>
                                        <p>
                                            Cosmetics Siennas Eyeshadow Palette Tutorial
                                        </p>
                                        <a href="/user/shop">Shop Now </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--slider area end-->

            <!--shipping area start-->
            <div class="shipping_area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="single_shipping">
                                <div class="shipping_icone">
                                    <img src="/user/assets/img/about/shipping1.png" alt="">
                                </div>
                                <div class="shipping_content">
                                    <h3>Free Shipping</h3>
                                    <p>On all orders over $500.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="single_shipping">
                                <div class="shipping_icone">
                                    <img src="/user/assets/img/about/shipping2.png" alt="">
                                </div>
                                <div class="shipping_content">
                                    <h3>Free Returns</h3>
                                    <p>If goods have problems</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="single_shipping">
                                <div class="shipping_icone">
                                    <img src="/user/assets/img/about/shipping3.png" alt="">
                                </div>
                                <div class="shipping_content">
                                    <h3>Secure Payment</h3>
                                    <p>100% secure payment</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="single_shipping">
                                <div class="shipping_icone">
                                    <img src="/user/assets/img/about/shipping4.png" alt="">
                                </div>
                                <div class="shipping_content">
                                    <h3>Gift Service</h3>
                                    <p>Support gift service</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--shipping area end-->

            <!--product area start-->
            <div class="product_area  mb-95">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section_title">
                                <h2>New products </h2>
                                <p> Browse the collection of our New products.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="product_carousel product_column4 owl-carousel">
                            <div class="col-lg-3" th:each="product : ${products}">
                                <div class="product_items">
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a class="primary_img"
                                                    th:href="@{/user/product-details/{id}(id=${product.ProductId})}">
                                                    <img th:src="@{'/productimages/'+${product.ProductMainImage}}"
                                                        alt=""></a>
                                                <div class="label_product">
                                                    <span class="label_sale">-20%</span>
                                                </div>
                                                <div class="action_links">
                                                    <ul>
                                                        <li class="add_to_cart" style="display: inline-block;">
                                                            <form th:action="@{/user/cart/add}" method="POST"
                                                                style="display: inline;">
                                                                <input type="hidden" name="productId"
                                                                    th:value="${product.ProductId}" />
                                                                <input type="hidden" name="quantity" value="1" />
                                                                <button type="submit" class="add_to_cart_button">
                                                                    <i class="icon-bag icons"></i>
                                                                </button>
                                                            </form>
                                                        </li>
                                                        <li class="wishlist" style="display: inline-block;">
                                                            <form th:action="@{/user/wishlist/add}" method="POST"
                                                                style="display: inline;">
                                                                <input type="hidden" name="productId"
                                                                    th:value="${product.ProductId}" />
                                                                <button type="submit" class="wishlist_button">
                                                                    <i class="icon-heart icons"></i>
                                                                </button>
                                                            </form>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name"><a
                                                        th:href="@{/user/product-details/{id}(id=${product.ProductId})}">[[${product.ProductName}]]</a>
                                                </h4>
                                                <div class="price_box">
                                                    <span class="current_price">$[[${product.ProductPrice}]]</span>
                                                </div>
                                                <div class="product_rating">
                                                    <ul>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                    </ul>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--product area end-->

            <!--product area start-->
            <div class="product_area  mb-95">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section_title">
                                <h2>Best-Selling products </h2>
                                <p> Browse the collection of our Best-Selling products.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="product_carousel product_column4 owl-carousel">
                            <div class="col-lg-3" th:each="product : ${products}">
                                <div class="product_items">
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a class="primary_img"
                                                    th:href="@{/user/product-details/{id}(id=${product.ProductId})}">
                                                    <img th:src="@{'/productimages/'+${product.ProductMainImage}}"
                                                        alt=""></a>
                                                <div class="label_product">
                                                    <span class="label_sale">-20%</span>
                                                </div>
                                                <div class="action_links">
                                                    <ul>
                                                        <li class="add_to_cart" style="display: inline-block;">
                                                            <form th:action="@{/user/cart/add}" method="POST"
                                                                style="display: inline;">
                                                                <input type="hidden" name="productId"
                                                                    th:value="${product.ProductId}" />
                                                                <input type="hidden" name="quantity" value="1" />
                                                                <button type="submit" class="add_to_cart_button">
                                                                    <i class="icon-bag icons"></i>
                                                                </button>
                                                            </form>
                                                        </li>
                                                        <li class="wishlist" style="display: inline-block;">
                                                            <form th:action="@{/user/wishlist/add}" method="POST"
                                                                style="display: inline;">
                                                                <input type="hidden" name="productId"
                                                                    th:value="${product.ProductId}" />
                                                                <button type="submit" class="wishlist_button">
                                                                    <i class="icon-heart icons"></i>
                                                                </button>
                                                            </form>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name"><a
                                                        th:href="@{/user/product-details/{id}(id=${product.ProductId})}">[[${product.ProductName}]]</a>
                                                </h4>
                                                <div class="price_box">
                                                    <span class="current_price">$[[${product.ProductPrice}]]</span>
                                                </div>
                                                <div class="product_rating">
                                                    <ul>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                    </ul>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--product area end-->

            <!--product area start-->
            <div class="product_area  mb-95">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="product_header">
                                <div class="section_title">
                                    <h2>Our Categories</h2>
                                    <p>Browse the collection of our tab products.</p>
                                </div>
                                <div class="product_tab_btn">
                                    <ul class="nav" role="tablist">
                                        <li>
                                            <a class="active" data-bs-toggle="tab" href="#makeup" role="tab"
                                                aria-controls="makeup" aria-selected="true">
                                                Makeup
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product_container">
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="makeup" role="tabpanel">
                                <div class="row">
                                    <div class="product_carousel product_column4 owl-carousel">
                                        <div class="col-lg-3">
                                            <article class="single_product">
                                                <figure>
                                                    <div class="product_thumb">
                                                        <a class="primary_img" href="/user/product-details"><img
                                                                src="/user/assets/img/product/product1.jpg" alt=""></a>
                                                        <div class="label_product">
                                                            <span class="label_sale">-20%</span>
                                                        </div>
                                                        <div class="action_links">
                                                            <ul>
                                                                <li class="add_to_cart"><a href="/user/cart"
                                                                        title="Add tob cart"><i
                                                                            class="icon-bag icons"></i></a>
                                                                </li>
                                                                <li class="wishlist"><a href="/user/wishlist"
                                                                        title="Add to Wishlist"><i
                                                                            class="icon-heart icons"></i></a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                    <figcaption class="product_content">
                                                        <h4 class="product_name"><a href="/user/product-details">Juicy
                                                                Couture
                                                                Tricot Logo Stripe Jacket</a></h4>
                                                        <div class="price_box">
                                                            <span class="current_price">$28.00</span>
                                                        </div>
                                                        <div class="product_rating">
                                                            <ul>
                                                                <li><a href="#"><i class="ion-android-star"></i></a>
                                                                </li>
                                                                <li><a href="#"><i class="ion-android-star"></i></a>
                                                                </li>
                                                                <li><a href="#"><i class="ion-android-star"></i></a>
                                                                </li>
                                                                <li><a href="#"><i class="ion-android-star"></i></a>
                                                                </li>
                                                                <li><a href="#"><i class="ion-android-star"></i></a>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </figcaption>
                                                </figure>
                                            </article>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--product area end-->

            <!--blog area start-->
            <section class="blog_section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section_title">
                                <h2>From Our Blog</h2>
                                <p>There are latest blog posts </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="blog_carousel blog_column3 owl-carousel">
                            <div class="col-lg-3">
                                <article class="single_blog">
                                    <figure>
                                        <div class="blog_thumb">
                                            <a href="/user/blog-details"><img src="/user/assets/img/blog/blog1.jpg"
                                                    alt=""></a>
                                        </div>
                                        <figcaption class="blog_content">
                                            <h4 class="post_title"><a href="/user/blog-details"> This is First Post
                                                    For
                                                    XipBlog</a></h4>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry. Lorem
                                                Ipsum has been ...
                                            </p>
                                            <footer class="blog_footer">
                                                <a href="/user/blog-details">Read More</a>
                                            </footer>
                                        </figcaption>
                                    </figure>
                                </article>
                            </div>
                            <div class="col-lg-3">
                                <article class="single_blog">
                                    <figure>
                                        <div class="blog_thumb">
                                            <a href="/user/blog-details"><img src="/user/assets/img/blog/blog2.jpg"
                                                    alt=""></a>
                                        </div>
                                        <figcaption class="blog_content">
                                            <h4 class="post_title"><a href="/user/blog-details"> This is Secound
                                                    Post
                                                    For
                                                    XipBlog</a></h4>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry. Lorem
                                                Ipsum has been ...
                                            </p>
                                            <footer class="blog_footer">
                                                <a href="/user/blog-details">Read More</a>
                                            </footer>
                                        </figcaption>
                                    </figure>
                                </article>
                            </div>
                            <div class="col-lg-3">
                                <article class="single_blog">
                                    <figure>
                                        <div class="blog_thumb">
                                            <a href="/user/blog-details"><img src="/user/assets/img/blog/blog3.jpg"
                                                    alt=""></a>
                                        </div>
                                        <figcaption class="blog_content">
                                            <h4 class="post_title"><a href="/user/blog-details"> This is Third Post
                                                    For
                                                    XipBlog</a></h4>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry. Lorem
                                                Ipsum has been ...
                                            </p>
                                            <footer class="blog_footer">
                                                <a href="/user/blog-details">Read More</a>
                                            </footer>
                                        </figcaption>
                                    </figure>
                                </article>
                            </div>
                            <div class="col-lg-3">
                                <article class="single_blog">
                                    <figure>
                                        <div class="blog_thumb">
                                            <a href="/user/blog-details"><img src="/user/assets/img/blog/blog4.jpg"
                                                    alt=""></a>
                                        </div>
                                        <figcaption class="blog_content">
                                            <h4 class="post_title"><a href="/user/blog-details"> This is Fourth Post
                                                    For
                                                    XipBlog</a></h4>
                                            <p>
                                                Lorem Ipsum is simply dummy text of the printing and typesetting
                                                industry. Lorem
                                                Ipsum has been ...
                                            </p>
                                            <footer class="blog_footer">
                                                <a href="/user/blog-details">Read More</a>
                                            </footer>
                                        </figcaption>
                                    </figure>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--blog area end-->

            <!--testimonial area start-->
            <div class="testimonial_area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section_title">
                                <h2>Testimonials</h2>
                                <p>What they say </p>
                            </div>
                        </div>
                    </div>
                    <div class="testimonial_container">
                        <div class="row">
                            <div class="col-12">
                                <div class="testimonial_thumb_wrapper testimonial_thumb_column3">
                                    <div class="testimonial_thumb">
                                        <img src="/user/assets/img/about/testimonial1.png" alt="">
                                    </div>
                                    <div class="testimonial_thumb">
                                        <img src="/user/assets/img/about/testimonial2.png" alt="">
                                    </div>
                                    <div class="testimonial_thumb">
                                        <img src="/user/assets/img/about/testimonial3.png" alt="">
                                    </div>
                                    <div class="testimonial_thumb">
                                        <img src="/user/assets/img/about/testimonial1.png" alt="">
                                    </div>
                                </div>
                                <div class="testimonial_content_wrapper  testimonial_content_collumn1">
                                    <div class="testimonial_content">
                                        <p>All Perfect !! I have three sites with magento , this theme is the best
                                            !!
                                            Excellent
                                            support , advice theme installation package , sorry for English, are
                                            Italian
                                            but I
                                            had no problem !! Thank you !</p>
                                        <a href="https://hasthemes.com/">Demo@hasthemes.com</a>
                                        <h3>orando BLoom</h3>
                                    </div>
                                    <div class="testimonial_content">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores
                                            suscipit
                                            itaque sit
                                            incidunt temporibus nulla debitis maxime vitae eveniet non aspernatur
                                            sunt,
                                            ex
                                            impedit totam corporis dolor.</p>
                                        <a href="https://hasthemes.com/">Demo@hasthemes.com</a>
                                        <h3>orando BLoom</h3>
                                    </div>
                                    <div class="testimonial_content">
                                        <p> voluptas laboriosam rem? Nemo quos quod nesciunt labore sequi sunt
                                            inventore.
                                            Blanditiis, at debitis eaque maxime sequi dignissimos ex harum aut,
                                            voluptate iusto
                                            hic numquam magni fugiat neque quod!</p>
                                        <a href="https://hasthemes.com/">Demo@hasthemes.com</a>
                                        <h3>orando BLoom</h3>
                                    </div>
                                    <div class="testimonial_content">
                                        <p>repellat repellendus porro numquam, rerum facilis quia alias. Earum ex,
                                            sequi
                                            odit ad
                                            similique. Facilis cum velit distinctio ratione ex accusantium. Iste
                                            dicta
                                            alias
                                            quas ipsa, labore, nobis impedit</p>
                                        <a href="https://hasthemes.com/">Demo@hasthemes.com</a>
                                        <h3>orando BLoom</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--testimonial area end-->

            <!--banner area start-->
            <div class="banner_area mb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="single_banner">
                                <div class="banner_thumb">
                                    <a href="#"><img src="/user/assets/img/bg/banner2.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single_banner">
                                <div class="banner_thumb">
                                    <a href="#"><img src="/user/assets/img/bg/banner3.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--banner area end-->
        </section>
    </div>


</body>

</html>