<!doctype html>
<html class="no-js" lang="en" xmlns:th="https://www.thymeleaf.org/">

<head th:replace="~{user/layout :: pageHead('LIORA')}">
</head>

<body>

    <div th:replace="~{user/layout :: body}">
        <section th:fragment="mainContent">
            <!--slider area start-->
            <section class="slider_section">
                <div class="slider_area owl-carousel">
                    <div class="single_slider d-flex align-items-center"
                        data-bgimg="/user/assets/img/slider/slider1.jpg">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="slider_content">
                                        <h2>new Styles</h2>
                                        <h1>Natural Skincare</h1>
                                        <p>
                                            Lab Series Skincare for Women - Lookfantastic UK
                                        </p>
                                        <a href="/user/shop">Shop Now </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="single_slider d-flex align-items-center"
                        data-bgimg="/user/assets/img/slider/slider2.jpg">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="slider_content">
                                        <h2>makeup Enhance</h2>
                                        <h1>Natural Beauty</h1>
                                        <p>
                                            Cosmetics Siennas Eyeshadow Palette Tutorial
                                        </p>
                                        <a href="/user/shop">Shop Now </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--slider area end-->

            <!--shipping area start-->
            <div class="shipping_area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="single_shipping">
                                <div class="shipping_icone">
                                    <img src="/user/assets/img/about/shipping1.png" alt="">
                                </div>
                                <div class="shipping_content">
                                    <h3>Free Shipping</h3>
                                    <p>On all orders over $500.00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="single_shipping">
                                <div class="shipping_icone">
                                    <img src="/user/assets/img/about/shipping2.png" alt="">
                                </div>
                                <div class="shipping_content">
                                    <h3>Free Returns</h3>
                                    <p>If goods have problems</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="single_shipping">
                                <div class="shipping_icone">
                                    <img src="/user/assets/img/about/shipping3.png" alt="">
                                </div>
                                <div class="shipping_content">
                                    <h3>Secure Payment</h3>
                                    <p>100% secure payment</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="single_shipping">
                                <div class="shipping_icone">
                                    <img src="/user/assets/img/about/shipping4.png" alt="">
                                </div>
                                <div class="shipping_content">
                                    <h3>Gift Service</h3>
                                    <p>Support gift service</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--shipping area end-->

            <!--product area start-->
            <div class="product_area  mb-95">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section_title">
                                <h2>New products </h2>
                                <p> Browse the collection of our New products.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="product_carousel product_column4 owl-carousel">
                            <div class="col-lg-3" th:each="product : ${products}">
                                <div class="product_items">
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a class="primary_img"
                                                    th:href="@{/user/product-details/{id}(id=${product.ProductId})}">
                                                    <img th:src="@{'/productimages/'+${product.ProductMainImage}}"
                                                        alt=""></a>
                                                <div class="label_product">
                                                    <span class="label_new zoomIn">New</span>
                                                </div>
                                                <div class="action_links">
                                                    <ul>
                                                        <li class="add_to_cart" style="display: inline-block;">
                                                            <form id="add-to-cart-form" th:action="@{/user/cart/add}"
                                                                method="POST" style="display: inline;">
                                                                <input type="hidden" name="productId"
                                                                    th:value="${product.ProductId}" />
                                                                <input type="hidden" name="quantity" value="1" />
                                                                <button type="submit" class="add_to_cart_button">
                                                                    <i class="icon-bag icons"></i>
                                                                </button>
                                                            </form>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name"><a
                                                        th:href="@{/user/product-details/{id}(id=${product.ProductId})}">[[${product.ProductName}]]</a>
                                                </h4>
                                                <div class="price_box">
                                                    <span class="current_price">$[[${product.ProductPrice}]]</span>
                                                </div>
                                                <div class="product_rating">
                                                    <ul>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                    </ul>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--product area end-->

            <!--product area start-->
            <div class="product_area  mb-95">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section_title">
                                <h2>Best-Selling products </h2>
                                <p> Browse the collection of our Best-Selling products.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="product_carousel product_column4 owl-carousel">
                            <div class="col-lg-3" th:each="product : ${products1}">
                                <div class="product_items">
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a class="primary_img"
                                                    th:href="@{/user/product-details/{id}(id=${product.ProductId})}">
                                                    <img th:src="@{'/productimages/'+${product.ProductMainImage}}"
                                                        alt=""></a>
                                                <div class="label_product">
                                                    <span class="label_sale bounce">Hot</span>
                                                </div>
                                                <div class="action_links">
                                                    <ul>
                                                        <li class="add_to_cart" style="display: inline-block;">
                                                            <form id="add-to-cart-form" th:action="@{/user/cart/add}"
                                                                method="POST" style="display: inline;">
                                                                <input type="hidden" name="productId"
                                                                    th:value="${product.ProductId}" />
                                                                <input type="hidden" name="quantity" value="1" />
                                                                <button type="submit" class="add_to_cart_button">
                                                                    <i class="icon-bag icons"></i>
                                                                </button>
                                                            </form>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name"><a
                                                        th:href="@{/user/product-details/{id}(id=${product.ProductId})}">[[${product.ProductName}]]</a>
                                                </h4>
                                                <div class="price_box">
                                                    <span class="current_price">$[[${product.ProductPrice}]]</span>
                                                </div>
                                                <div class="product_rating">
                                                    <ul>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                    </ul>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--product area end-->

            <!--product area start-->
            <div class="product_area  mb-95">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section_title">
                                <h2>Toner </h2>
                                <p> Browse the collection of our products.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="product_carousel product_column4 owl-carousel">
                            <div class="col-lg-3" th:each="product : ${productsToner}">
                                <div class="product_items">
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a class="primary_img"
                                                    th:href="@{/user/product-details/{id}(id=${product.ProductId})}">
                                                    <img th:src="@{'/productimages/'+${product.ProductMainImage}}"
                                                        alt=""></a>
                                                <div class="action_links">
                                                    <ul>
                                                        <li class="add_to_cart" style="display: inline-block;">
                                                            <form id="add-to-cart-form" th:action="@{/user/cart/add}"
                                                                method="POST" style="display: inline;">
                                                                <input type="hidden" name="productId"
                                                                    th:value="${product.ProductId}" />
                                                                <input type="hidden" name="quantity" value="1" />
                                                                <button type="submit" class="add_to_cart_button">
                                                                    <i class="icon-bag icons"></i>
                                                                </button>
                                                            </form>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name"><a
                                                        th:href="@{/user/product-details/{id}(id=${product.ProductId})}">[[${product.ProductName}]]</a>
                                                </h4>
                                                <div class="price_box">
                                                    <span class="current_price">$[[${product.ProductPrice}]]</span>
                                                </div>
                                                <div class="product_rating">
                                                    <ul>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                    </ul>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--product area end-->

            <!--product area start-->
            <div class="product_area  mb-95">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section_title">
                                <h2>Lipstick </h2>
                                <p> Browse the collection of our products.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="product_carousel product_column4 owl-carousel">
                            <div class="col-lg-3" th:each="product : ${productsLipstick}">
                                <div class="product_items">
                                    <article class="single_product">
                                        <figure>
                                            <div class="product_thumb">
                                                <a class="primary_img"
                                                    th:href="@{/user/product-details/{id}(id=${product.ProductId})}">
                                                    <img th:src="@{'/productimages/'+${product.ProductMainImage}}"
                                                        alt=""></a>

                                                <div class="action_links">
                                                    <ul>
                                                        <li class="add_to_cart" style="display: inline-block;">
                                                            <form id="add-to-cart-form" th:action="@{/user/cart/add}"
                                                                method="POST" style="display: inline;">
                                                                <input type="hidden" name="productId"
                                                                    th:value="${product.ProductId}" />
                                                                <input type="hidden" name="quantity" value="1" />
                                                                <button type="submit" class="add_to_cart_button">
                                                                    <i class="icon-bag icons"></i>
                                                                </button>
                                                            </form>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <figcaption class="product_content">
                                                <h4 class="product_name"><a
                                                        th:href="@{/user/product-details/{id}(id=${product.ProductId})}">[[${product.ProductName}]]</a>
                                                </h4>
                                                <div class="price_box">
                                                    <span class="current_price">$[[${product.ProductPrice}]]</span>
                                                </div>
                                                <div class="product_rating">
                                                    <ul>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                        <li><a href="#"><i class="ion-android-star"></i></a></li>
                                                    </ul>
                                                </div>
                                            </figcaption>
                                        </figure>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--blog area start-->
            <section class="blog_section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section_title">
                                <h2>From Our Blog</h2>
                                <p>There are latest blog posts </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="blog_carousel blog_column3 owl-carousel">
                            <div class="col-lg-3" th:each="blog : ${blogs}">
                                <article class="single_blog">
                                    <figure>
                                        <div class="blog_thumb">
                                            <a th:href="@{/user/blog-details/{id}(id=${blog.BlogId})}"><img
                                                    th:src="@{'/blogimages/'+${blog.BlogImage}}" alt=""></a>
                                        </div>
                                        <figcaption class="blog_content">
                                            <h4 class="post_title"><a
                                                    th:href="@{/user/blog-details/{id}(id=${blog.BlogId})}">
                                                    [[${blog.BlogTitle}]]</a></h4>
                                            <p th:utext="${#strings.abbreviate(blog.BlogDescription, 100)}">
                                            </p>
                                            <footer class="blog_footer">
                                                <a th:href="@{/user/blog-details/{id}(id=${blog.BlogId})}">Read More</a>
                                            </footer>
                                        </figcaption>
                                    </figure>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--blog area end-->

            <!--banner area start-->
            <div class="banner_area mb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="single_banner">
                                <div class="banner_thumb">
                                    <a href="/user/shop"><img src="/user/assets/img/bg/banner2.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="single_banner">
                                <div class="banner_thumb">
                                    <a href="/user/shop"><img src="/user/assets/img/bg/banner3.jpg" alt=""></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--banner area end-->
        </section>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var checkoutSuccess = "[[${session.checkoutSuccess}]]";

            if (checkoutSuccess === "true") {
                Toastify({
                    text: "Checkout successful! Your order has been placed.",
                    duration: 700,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "#4CAF50",
                }).showToast();

                fetch("/user/checkout/clearCheckoutSuccess");
            }
        });
    </script>
</body>

</html>