<!doctype html>
<html class="no-js" lang="en" xmlns:th="https://www.thymeleaf.org/">


<head th:replace="user/layout :: pageHead('Register')">
</head>

<body>

<div th:replace="user/layout :: body">
    <section th:fragment="mainContent">

        <!--breadcrumbs area start-->
        <div class="breadcrumbs_area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="breadcrumb_content">
                            <h3>Register</h3>
                            <ul>
                                <li><a href="/user/index">home</a></li>
                                <li>register</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--breadcrumbs area end-->

        <!-- customer login start -->
        <div class="customer_login">
            <div class="container">
                <div class="row">
                    <!--login area start-->
                    <div class="col-lg-12 col-md-12">
                        <div class="account_form">
                            <h2>Register</h2>
                            <form action="#" method="post" enctype="multipart/form-data" th:action="@{/user/register/save}" th:object="${customers}">
                                <div class="row">
                                    <!-- Column 1: Full Name, Email, Password, Confirm Password -->
                                    <div class="col-lg-6 col-md-6">
                                        <p>
                                            <label>Full Name <span>*</span></label>
                                            <input type="text" th:field="*{CustomerName}">
                                        </p>
                                        <p>
                                            <label>Email <span>*</span></label>
                                            <input type="text" th:field="*{cemail}">
                                        </p>

                                        <p>
                                            <label>Password <span>*</span></label>
                                            <input type="password" th:field="*{CustomerPassword}">
                                        </p>

                                        <p>
                                            <label>Confirm Password <span>*</span></label>
                                            <input type="password">
                                        </p>
                                    </div>

                                    <!-- Column 2: Phone, Address, City, Province and Button -->
                                    <div class="col-lg-6 col-md-6">
                                        <p>
                                            <label>Phone <span>*</span></label>
                                            <input type="text" th:field="*{CustomerPhone}">
                                        </p>
                                        <p>
                                            <label>Address <span>*</span></label>
                                            <input type="text" th:field="*{CustomerAddress}">
                                        </p>
                                        <p>
                                            <label>City <span>*</span></label>
                                            <input type="text" th:field="*{CustomerCity}">
                                        </p>
                                        <p>
                                            <label for="country">Province <span>*</span></label>
                                            <select class="form-select" name="country" id="country" th:field="*{CustomerProvince}">
                                                <option value="Bình Dương">Bình Dương</option>
                                                <option value="Bình Phước">Bình Phước</option>
                                                <option value="Tây Ninh">Tây Ninh</option>
                                                <option value="Đồng Nai">Đồng Nai</option>
                                                <option value="Thành phố Hồ Chí Minh">Thành phố Hồ Chí Minh</option>
                                                <option value="Bà Rịa Vũng Tàu">Bà Rịa Vũng Tàu</option>
                                                <option value="Long An">Long An</option>
                                                <option value="Bình Thuận">Bình Thuận</option>
                                                <option value="Hà Nội">Hà Nội</option>
                                            </select>
                                        </p>
                                        
                                        <div class="login_submit">
                                            <a href="/user/login">Have an account?</a>
                                            <button type="submit">Register</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--login area end-->
                </div>
            </div>
        </div>
        <!-- customer login end -->


</div>
</div>
</div>
<!-- customer login end -->

</section>
</div>

</body>


</html>